
		body { 
			background-image: url("naturee.jpg");
			background-repeat: no-repeat;
			background-position: center;
			font-family: sans-serif;
		}
	
		.website {
			transition: transform .2s;
			font-size: 16px;
			color: white;

		}

		h1{ 
			font-size: 40px;
			color: white;
			position: absolute;
			top: 5px;
			left: 600px;
			width: 400px;
			height: 340px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		#google {
			position: absolute;
			top: 5px;
			left: 50px;
			width: 400px;
			height: 340px;
		}

		#fb {
			position: absolute;
			top: 5px;
			left: 1145px;
			width: 400px;
			height: 340px;
		}
		#yt {
			position: absolute;
			top: 350px;
			left: 50px;
			width: 400px;
			height: 340px;
		}
		#w3 {
			position: absolute;
			top: 350px;
			left: 600px;
			width: 400px;
			height: 340px;
		}
		#gl {
			position: absolute;
			top: 350px;
			left: 1145px;
			width: 400px;
			height: 340px;
		}

		#google:hover {
			transform: scale(1.05);
			color: #FCE205;
			background: rgba( 0, 0, 0, 0.6);
		}

		
		#fb:hover {
			transform: scale(1.05);
			color: #1167b1;
			background: rgba( 0, 0, 0, 0.6);
		}

		
		#yt:hover {
			transform: scale(1.05);
			color: #E3242B;
			background: rgba( 0, 0, 0, 0.6);
		}

		
		#w3:hover {
			transform: scale(1.05);
			color: #a3de34;
			background: rgba( 0, 0, 0, 0.6);
		}

		
		#gl:hover {
			transform: scale(1.05);
			color: #006a4e;
			background: rgba( 0, 0, 0, 0.6);
		}

		h1:hover {
			transform: scale(1.05);
			color: #fd5602;
		}
